body {
   height: 100%;
   width: 100%;
   background: #bcbec0;
   font-family: "Open Sans",sans-serif;
   color: #414042;
   margin: 0px;
}
   
a {
   color: #006DB6;
}

header {
   height: 60px;
   background: #414042;
   padding: 0 25px;
   text-align: justify;
   color: #FFFFFF;
}

header:after {
    content: "";
    display: inline-block;
    width: 100%;
}

div.outer {
    display: table;
    position: absolute;
    width: 100%;
}

div.middle {
   display: table-cell;
   /*vertical-align: middle;*/
   padding: 40px;
   vertical-align: top;
}

div.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 850px;
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    padding: 40px;
    text-align: center;
}

div.logo:before {
   content: "";
   display: inline-block;
   height: 100%;
   vertical-align: middle;
} 
   
div.logo {
   display: inline-block;
}
   
div.logo img {
   width: 182px;
   height: 43px;
   vertical-align: middle;
}

div.schema img {
   width: 246px;
   height: 206px;
   vertical-align: left;
}
   
div.tool-title {
   display: inline-block;
   font-weight: 300;
   bottom: -7px;
   position: relative;
}

div.separator {
   width: 100%;
   height: 10px;
   background: #FFF;
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
   border-top: 1px solid rgba(0, 0, 0, 0.1);
   height: 5px;
}

div.container {
   display: table-cell;
   vertical-align: middle;
}

div.contents {
   margin-left: auto;
   margin-right: auto;
   width: 70%;
   background: #FFFFFF;
   border-radius: 4px;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
   padding: 40px;
}

div.dashboard {
   float: right;
}

div.home {
   float: left;
}
   

   
h1 {
   font-weight: 300;
   color: #82C341;
   margin: 0px 0px 10px 0px;
   padding-bottom: 20px;
   border-bottom: 1px solid #98C21F;
}

h2 {
   font-weight: 300;
   color: #82C341;
   margin: 0px 0px 10px 0px;
   padding-bottom: 10px;
   border-bottom: 1px solid #98C21F;
}

h3 {
   font-weight: 300;
   color: #FF0000;
   margin: 0px 0px 10px 0px;
   padding-bottom: 15px;
   border-bottom: 1px solid #98C21F;
}
   
p {
   margin: 25px 0px;
   line-height: 1.5em;
   }

table.login {
   width: 500;
   margin-left:auto; 
   margin-right:auto;
   //margin: 20px 0px;
   border: 1px solid #EEEEEE;
}
   
table {
   width: 100%;
   margin: 20px 0px;
   border: 1px solid #EEEEEE;
}
   
th {
   background: #cfd8dc none repeat scroll 0 0;
   color: #455a64;
   font-size: 12px;
   font-weight: 400;
   letter-spacing: 0.08em;
   padding: 12px 5px;
   text-align: center;
   text-transform: uppercase;
}

tr:nth-child(even) {background: #fefefe}
tr:nth-child(odd) {background: #f5f5f5}

td {
   font-size: 14px;
   padding: 7px 10px;
   text-align: center;
}

tr.current{
   background-color : #dcedc8;
} 

p.footer {
   border-top: 1px solid #EEEEEE;
   font-size: smaller;
   padding: 25px 0px 0px 0px;
   margin-bottom: 0px;
   font-weight: 600;
   color: #808285;
   text-align: left;
}

div.main {
   width: 100%;
   padding-top: 50px;
   }

a.button {
    font-size: 14px;
    line-height: 20px;
    background-color: #82bf56;
    border-left: medium none;
    border-right: medium none;
    border-top: medium none;
    border-bottom: 2px solid #669644;
    text-shadow: 0 -1px #669644;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    font-family: "Open Sans",sans-serif;
    padding: 5px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.status {
   box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.5);
   background: #f5f5f5;
   border-radius: 3px;
   padding: 10px 20px;
   overflow: auto;
}

input[type=text], input[type=password] {
   font-size: 14px;
   line-height: 20px;
   border-radius: 3px;
   border: 1px solid #DDDDDD;
   padding: 5px 10px;
}

input[type=submit] {
    font-size: 14px;
    line-height: 20px;
    background-color: #82bf56;
    border-left: medium none;
    border-right: medium none;
    border-top: medium none;
    border-bottom: 2px solid #669644;
    text-shadow: 0 -1px #669644;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    font-family: "Open Sans",sans-serif;
    padding: 5px 20px;
    text-decoration: none;
    white-space: nowrap;
}